{% extends "templates/base.html" %}

{% block title %} Home | Webshop {% endblock %}

{% block content %}

  {% include "www/sections/hero_banner.html" %}
  {% include "www/sections/category_section.html" %}
  {% include "www/sections/promotion_images.html" %}
  {% include "www/sections/product_carousel.html" %}
  {% include "www/sections/promotion_videos.html" %}
  {% include "www/sections/products_by_tag.html" %}
  {% include "www/sections/whatsapp.html" %}
  {% include "www/sections/utilitybar.html" %}

{% endblock %}
